<footer class="pt-5 bg-body-tertiary m-0">
<div class="container">
    <h5 class="fw-bold">Get the freshcart app</h5>
    <p>We will send to you link,open it on your phone to download the app</p>

    <div class="row my-4 gy-3">
        <div class="col-md-10">
            <input placeholder="Email..." class="form-control" type="text">
        </div>
        <div class="col-md-2">
            <button class="btn btn-info text-white px-4">Share App Link</button>
        </div>

    </div>
    <div class="copyright py-3 ">
        <p class="text-center  m-0 p-0 mt-3">© 2023 <a target="_blank" [href]="url" class="fw-bold">Salma Hussien</a> , All Rights Reserved</p>
    </div>

  
</div>
</footer>
