<nav class="navbar fixed-top mb-5 py-3 navbar-expand-lg bg-body-tertiary shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="assets/img/freshcart-logo.svg" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2  mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" *ngIf="enableNavbar" [routerLink]="['/home']"  routerLinkActive="active rounded-3 " >Home</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" *ngIf="enableNavbar" [routerLink]="['/products']" routerLinkActive="active rounded-3" >Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="enableNavbar" [routerLink]="['/categories']" routerLinkActive="active rounded-3" >Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="enableNavbar"[routerLink]="['/brands']" routerLinkActive="active rounded-3" >Brands</a>
          </li>
        </ul>

        <ul class="navbar-nav d-flex justify-content-center align-items-center ms-auto mb-2 mb-lg-0">

          <li class="nav-item">

            <a *ngIf="enableNavbar" class="nav-link position-relative "[routerLink]="['/wishlist']"  >
              <span class="position-absolute text-dark  heart fw-bold  ">{{whishlistItems}}</span>
              <i class="fa-solid text-main fs-2  fa-heart"></i>
            </a>
          </li>
          
          <li class="nav-item">

            <a (click)="scrollToTop()" *ngIf="enableNavbar" class="nav-link position-relative "[routerLink]="['/cart']"  >
              <span class="position-absolute text-dark top-0 start-50 fw-bold  ">{{cartItems}}</span>
              <i class="fa-solid text-main fs-3 fa-cart-shopping"></i>
           
            </a>
          </li>
            <!-- <li class="nav-item">
                <a class="nav-link " href=""  ><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href=""  ><i class="fa-brands fa-facebook"></i></a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link " href=""  ><i class="fa-brands fa-tiktok"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href=""  ><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href=""  ><i class="fa-brands fa-linkedin"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href=""  ><i class="fa-brands fa-youtube"></i></a>
              </li> -->
            <li class="nav-item">
              <a class="nav-link text-capitalize" *ngIf="!enableNavbar" [routerLink]="['/login']" routerLinkActive="active rounded-3" >login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-capitalize"  *ngIf="!enableNavbar" [routerLink]="['/register']" routerLinkActive="active rounded-3" >register</a>
            </li>
            <li class="nav-item dropdown">
              <a   *ngIf="enableNavbar" class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user text-main"></i><span class="fw-bold"> Hi,{{userName.split(' ').slice(0, 1).join(' ')}}</span>
              </a>
              <ul  *ngIf="enableNavbar" class="dropdown-menu">
                <li><a  class="dropdown-item my-1 text-center"[routerLink]="['/setting/change']" routerLinkActive="active ">Change Password</a></li>
                <li><a  class="dropdown-item text-center" [routerLink]="['/setting/forget']" routerLinkActive="active"> Forget Password</a></li>

                <li><a  class="dropdown-item text-center" [routerLink]="['/allorders']" routerLinkActive="active"> My Orders</a></li>
              </ul>
            </li>
         
            <li class="nav-item">
              <a class="nav-link text-capitalize" *ngIf="enableNavbar" (click)="makeLogout()"   >logout</a>
            </li>
          </ul>
     
      </div>
    </div>
  </nav>
