<section class=" pt-5 d-flex justify-content-center align-items-center">
    <div class="container shadow-lg w-75 bg-body-tertiary p-5 rounded-3 my-5">

        <h1 class="text-center">Forget Password</h1>
        <form *ngIf="isForget" (ngSubmit)="forgetPassChange(forgetForm)" [formGroup]="forgetForm">
    
            <label for="">Email:</label>
            <input formControlName="email" class="form-control mb-3" type="email" [(ngModel)]="emailValue">
        
            <p *ngIf="forgetForm.get('email')?.getError('required') && forgetForm.get('email')?.touched"  class="text-danger text-capitalize">please fill out this field</p>
        <p *ngIf="forgetForm.get('email')?.getError('email') && forgetForm.get('email')?.touched"  class="text-danger text-capitalize">please enter correct email</p>
    
        <button *ngIf="!isLoading else spinner"  [disabled]="!forgetForm.valid"  class="btn bg-main w-100 text-white my-3 ">Next</button>
        
        <ng-template #spinner>
        <button class="btn bg-main w-100 text-white my-3 "><i class="fa-solid fa-spinner fa-spin "></i></button>
    </ng-template>
    <p class="text-center text-danger fw-bold">{{errorMessage}}</p>
        </form>
    
        <form *ngIf="isVerfied" (ngSubmit)="verifyCode(verifyCodeForm)" [formGroup]="verifyCodeForm">
    
            <label for="">Reset Code:</label>
            <input formControlName="resetCode" class="form-control mb-3" type="text">
        
            <p *ngIf="verifyCodeForm.get('resetCode')?.getError('required') && verifyCodeForm.get('resetCode')?.touched"  class="text-danger text-capitalize">please fill out this field</p>
        <p *ngIf="verifyCodeForm.get('resetCode')?.getError('minlength') && verifyCodeForm.get('resetCode')?.touched"  class="text-danger text-capitalize">required min length is 6</p>
        <p *ngIf="verifyCodeForm.get('resetCode')?.getError('maxlength') && verifyCodeForm.get('resetCode')?.touched"  class="text-danger text-capitalize">required max length is 6</p>
    
        <button *ngIf="!isLoading else spinner" [disabled]="!verifyCodeForm.valid"  class="btn bg-main w-100 text-white my-3 ">Confirm</button>
        
    
        <ng-template #spinner>
        <button class="btn bg-main w-100 text-white my-3 "><i class="fa-solid fa-spinner fa-spin "></i></button>
    </ng-template>
    
    <p *ngIf="!errorMessage else message" class="text-center text-danger fw-bold">Reset code sent to your email</p>
    <ng-template #message>
        <p class="text-center text-danger fw-bold">{{errorMessage}}</p>
    
    </ng-template>
    
        </form>
    
    <form *ngIf="isSendCode" (ngSubmit)="resetPassword(resetForm)" [formGroup]="resetForm">
        <label for="">Email:</label>
        <input formControlName="email" class="form-control mb-3" type="email" [(ngModel)]="emailValue">
    
        <p *ngIf="resetForm.get('email')?.getError('required') && resetForm.get('email')?.touched"  class="text-danger text-capitalize">please fill out this field</p>
    <p *ngIf="resetForm.get('email')?.getError('email') && resetForm.get('email')?.touched"  class="text-danger text-capitalize">please enter correct email</p>
    
    <label for="">Reset Password:</label>
            <input formControlName="newPassword" class="form-control mb-3" type="password">
        
            <p *ngIf="resetForm.get('newPassword')?.getError('required') && resetForm.get('newPassword')?.touched"  class="text-danger text-capitalize">please fill out this field</p>
            <p *ngIf="resetForm.get('newPassword')?.getError('minlength') && resetForm.get('newPassword')?.touched"  class="text-danger text-capitalize">required min length is 6</p>
            <p *ngIf="resetForm.get('newPassword')?.getError('maxlength') && resetForm.get('newPassword')?.touched"  class="text-danger text-capitalize">required max length is 16</p>
    
    
            <button  *ngIf="!isLoading else spinner"  [disabled]="!resetForm.valid"  class="btn bg-main w-100 text-white my-3 ">Done</button>
        
    
            <ng-template #spinner>
            <button class="btn bg-main w-100 text-white my-3 "><i class="fa-solid fa-spinner fa-spin "></i></button>
        </ng-template>
    
        </form>
    
    
    
    </div>

</section>

